
@font-face {
    font-family: "Domaine Sans Display";
    src: url('fonts/DomaineSansDisplay-Light.woff2') format("woff2"), 
    url('/fonts/DomaineSansDisplay-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Grot10";
    src: url('/fonts/Grot10-Light.woff2') format("woff2"), 
    url('/fonts/Grot10-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Grot10";
    src: url('/fonts/Grot10-LightItalic.woff2') format("woff2"), 
    url('/fonts/Grot10-LightItalic.woff') format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "Grot10";
    src: url('/fonts/Grot10-Semibold.woff2') format("woff2"), url('/fonts/Grot10-Semibold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Hijrnotes";
    src: url('/fonts/Hijrnotes.woff2') format("woff2"), url('/fonts/Hijrnotes.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}