@import url("common.css");
.copy p, .copy p span, .copy p a u {
  color: #606060;
}

body {
  background-color: #0d0d0d;
}

* {
  color: #fff;
}

.head-top {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-top > a {
  z-index: 4;
  position: relative;
  color: #ddd;
  font-size: 40px;
}

.head-top .menu {
  position: relative;
  z-index: 3;
}

.head-top .menu a:hover {
  color: #c39d42;
  -webkit-transition: .3s;
  transition: .3s;
}

.head-top .menu .menu-btn {
  z-index: 3;
  width: 136px;
  height: 52px;
  border: 1px solid #777;
  border-radius: 27px;
  padding: 0 20px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.head-top .menu .menu-btn p {
  color: #ddd;
  font-size: 1.2em;
}

.head-top .menu .menu-btn .menu-trigger {
  width: 12px;
  height: 12px;
}

.head-top .menu .menu-btn .menu-trigger span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 3px;
}

.head-top .menu .menu-btn .menu-trigger span:nth-of-type(3) {
  margin: 0;
}

.head-top .menu .menu-btn:hover {
  border: 1px solid #ddd;
}

.head-top .menu .menu-btn .menu-trigger.active span {
  -webkit-transition: .5s;
  transition: .5s;
}

.head-top .menu .menu-btn .menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}

.head-top .menu .menu-btn .menu-trigger.active span:nth-of-type(2) {
  display: none;
}

.head-top .menu .menu-btn .menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-2.5px) rotate(-45deg);
          transform: translateY(-2.5px) rotate(-45deg);
}

.head-top .menu .menu-nav {
  position: fixed;
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background: #000;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-top .menu .menu-nav nav {
  width: 50%;
}

.head-top .menu .menu-nav .nav-product {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.head-top .menu .menu-nav .nav-product ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-top .menu .menu-nav .nav-product ul li > a {
  font-size: 200px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-top .menu .menu-nav .nav-product ul li div {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.head-top .menu .menu-nav .nav-product ul li div a::after {
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background-color: currentColor;
  -webkit-mask-image: url("../src/main/newletter-arrow.svg");
          mask-image: url("../src/main/newletter-arrow.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.head-top .menu .menu-nav .nav-product ul li:hover .nav-btn {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.head-top .menu .menu-nav .nav-product ul li p {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  -webkit-transition: .7s;
  transition: .7s;
}

.head-top .menu .menu-nav .nav-product ul li:hover p {
  right: 0;
}

.head-top .menu .menu-nav .nav-moreinfo {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head-top .menu .menu-nav .nav-moreinfo > a {
  font-size: 100px;
}

.head-top .menu .menu-nav .nav-moreinfo nav {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.head-top .menu .menu-nav .nav-moreinfo nav a {
  width: 50%;
  font-size: 18px;
  font-family: "grot10";
}

.head-top .menu .menu-nav.active {
  top: 0;
}

.head-bottom {
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px;
}

.head-bottom .indicater {
  position: fixed;
  bottom: 50px;
  left: 40px;
}

.head-bottom .indicater span {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 0.2;
  margin: 3px 8px;
}

.head-bottom .info {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border: 1px solid #777;
  border-radius: 25px;
  right: 40px;
  bottom: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.head-bottom .info p {
  font-size: 1.5em;
}

.head-bottom .info:hover {
  width: 136px;
}

.main-cover {
  background: #000;
  padding-bottom: 200px;
}

.main-cover h2 {
  font-size: 70px;
  font-weight: 300;
  text-align: center;
}

.main-cover em {
  font-family: "hijrnotes";
  font-size: 68px;
  color: #c39d42;
  line-height: 0.6;
  vertical-align: top;
  margin: 0 20px;
}

.main-cover article {
  position: relative;
  width: 100%;
  height: 105vh;
}

.main-cover article .project-copy {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.main-cover article .project-copy p {
  color: #fff;
  text-align: center;
}

.main-cover article .project-copy p span {
  color: #c39d42;
}

.main-cover article .project-copy p:nth-of-type(1) {
  font-family: "domaine sans display";
  font-size: 2.6vw;
  line-height: 1.1;
}

.main-cover article .project-copy p:nth-of-type(2) {
  font-size: 7vw;
}

.main-cover article .down-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-cover article .down-btn .btn {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.main-cover article .down-btn .btn .down {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cover article .down-btn .btn .down::after {
  content: '';
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 1px 0 1px 0;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom-color: transparent;
  border-right-color: transparent;
}

@-webkit-keyframes circle {
  0% {
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
}

@keyframes circle {
  0% {
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
}

.main-cover article .down-btn .btn .down:hover::after {
  -webkit-animation: circle 1s ease-in-out;
          animation: circle 1s ease-in-out;
}

.main-cover article .down-btn .btn .down p {
  margin: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: currentColor;
  -webkit-mask-image: url("../src/main/spot-arrow.svg");
          mask-image: url("../src/main/spot-arrow.svg");
}

.voice {
  width: 100%;
  height: 420px;
  margin-bottom: 80px;
  padding: 5px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.voice figure {
  padding: 10px 0;
  width: 18%;
  height: 100%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.voice figure > p {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(13, 13, 13, 0.9) 100%);
}

.voice figure figcaption p {
  font-family: "grot10";
  font-size: 16px;
  text-align: center;
  color: #606060;
  text-transform: uppercase;
}

.voice figure figcaption p:nth-of-type(2) {
  color: #d3d3d3;
}

.voice figure span {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.pathcopy {
  width: 100%;
  height: 80vh;
}

.pathcopy p {
  width: 50%;
}

.pathcopy p:nth-of-type(1) {
  width: 100%;
  font-size: 7vw;
  color: #606060;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 100px;
}

.pathcopy p:nth-of-type(2) {
  font-family: "grot10";
  font-size: 16px;
  color: #606060;
  margin-left: 50%;
  padding: 0 80px;
  margin-bottom: 30px;
}

.pathcopy p:nth-of-type(3) {
  font-size: 48px;
  line-height: 1.1;
  color: #d3d3d3;
  margin-left: 50%;
  padding: 0 80px;
}

.path {
  width: 100%;
}

.path article {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.path article > p {
  width: 50%;
  height: 100%;
}

.path article > p img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.path article div:nth-of-type(1) {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.path article div:nth-of-type(1) figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
}

.path article div:nth-of-type(1) figure:hover figcaption p:nth-of-type(1) {
  color: #c39d42;
}

.path article div:nth-of-type(1) figure > p {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.path article div:nth-of-type(1) figure figcaption p {
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.path article div:nth-of-type(1) figure figcaption p:nth-of-type(1) {
  font-family: "domaine sans display";
  font-size: 48px;
}

.path article div:nth-of-type(2) {
  opacity: 0;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
}

.path article div:nth-of-type(2) p {
  width: 100%;
  height: 100vh;
}

.path article div:nth-of-type(2) p img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.to_stories {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_stories a {
  display: block;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_stories a:hover span:nth-of-type(2) {
  color: #c39d42;
}

.to_stories a span {
  font-size: 105px;
  -webkit-transition: .5s;
  transition: .5s;
  line-height: 1;
  color: #222222;
}

.to_stories a span:nth-of-type(2) {
  font-size: 200px;
  color: #fff;
}

.newsletter {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  padding: 100px 80px;
}

.newsletter .subscribe {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter .subscribe p {
  font-size: 48px;
  font-family: "domaine sans display";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter .subscribe div {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.newsletter .subscribe div span::after {
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background-color: currentColor;
  -webkit-mask-image: url("../src/main/newletter-arrow.svg");
          mask-image: url("../src/main/newletter-arrow.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.newsletter form {
  width: 100%;
  padding: 8px 0;
  border-bottom: 2px solid #aaa;
}

.newsletter form input {
  background: transparent;
  border: none;
}

.newsletter .policy {
  display: none;
}

.newsletter label {
  margin-top: 20px;
  color: #fff;
}

.newsletter label:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.foot-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.foot-nav .more {
  font-size: 16px;
  padding: 60px;
}

.foot-nav .more a {
  margin-right: 30px;
}

.foot-nav .sns {
  padding: 60px 0;
}

.foot-nav .sns a {
  margin-left: 20px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: currentColor;
}

.foot-nav .sns a:first-child {
  -webkit-mask-image: url("../src/main/insta.svg");
          mask-image: url("../src/main/insta.svg");
}

.foot-nav .sns a:last-child {
  -webkit-mask-image: url("../src/main/facebook.svg");
          mask-image: url("../src/main/facebook.svg");
}

.copy {
  padding: 60px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #222;
  color: #fff;
}

.copy p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy p span {
  margin-right: 10px;
  font-size: 1.6vw;
}

.copy div a {
  display: block;
  -webkit-mask-image: url("../src/main/wego.svg");
          mask-image: url("../src/main/wego.svg");
  width: 50px;
  height: 23px;
  background-color: currentColor;
  -webkit-transition: .3s;
  transition: .3s;
}

.copy div a:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=project.css.map */